.home-container {
  min-height: calc(100vh - 70px);
  padding: 0 36px;
  position: relative;
  background: url('../../Assets/images//home-background.png') center center / cover no-repeat fixed;
  overflow: hidden;
}
