.slider {
  margin-top: 20px;

  ul li button {
    &::before {
      font-size: 10px;
      color: white;
    }
  }

  .slick-dots li.slick-active button:before {
    color: white;
  }

  .slick-list {
    overflow: visible;
  }

  button {
    z-index: 1;
  }
}

.wrapper {
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 69%) 0px 26px 30px -10px, rgba(0, 0, 0, 73%) 0px 16px 10px -10px;
    transition: all 400ms;

    &:hover {
      border: 4px solid rgba(249, 249, 249, 0.8);
    }
  }
}
